.planet{
    
}
.mercury{
background-color:aquamarine ;
}
.venus{
background-color: aqua ;
}
.earth{
background-color:azure ;
}
.mars{
background-color: bisque ;
}
.jupiter{
background-color:burlywood ;
}
.saturn{
background-color:beige ;
}
.uranus{
background-color:red ;
}
.neptune{
background-color:blueviolet ;  
}