*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins,sans-serif;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}

.hero-header{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #0f0e17;
}
.wrapper{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo i{
    height: 45px;
    width: 45px;
    background-color: #ff8906;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}
.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

nav .togglebtn{
 width: 35px;
 height: 35px;
 position: absolute;
 top: 45px;
 right: 3%;
 z-index: 5;
 cursor: pointer;
 display: none;
}

nav .togglebtn span{
    display: block;
    background-color: #ff8906;
    margin: 6px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

nav .navlinks{
    list-style-type: none;
}

nav .navlinks li{
    display: inline-block;
}
nav .navlinks li a{
    color: #fffffe;
    margin-right: 3rem;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}

.container .hero-pic{
    width: 270x;
    height: 270px;
    border: 8px solid #ff8906;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 5px 7px 28px rgba(0,0,0,0,5);
}

.hero-pic img{
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.hero-pic img:hover{
    transform: scale(1.1);
}

.hero-text{
    max-width: 480px;
    display: flex;
    flex-direction: column;
}

.hero-text h5{
    color: #fffffe;
    font: 14px;
}
.hero-text h5 span{
    color: #ff8906;
    font-size: 16px;
}
.hero-text h1{
    color: #ff8906;
    font-size: 3rem;
}
.hero-text p{
    color: #a7a9be;
}

.btn-container{
    margin: 40px 0;
}
.btn-container .btn{
    border-color: #a7a9be;
    color: #fffffe;
    background-color: #0f0e17;
    padding: 12px 24px;
    margin: 4px 0;
    margin-right: 8px;
    border-radius: 32px;
    border: 2px solid #fffffe;
}
.btn.active{
    background-color: #ff8906;
}
.hero-text .social i{
    color: #fffffe;
    font-size: 20px;
    margin-right: 16px;
    transition: 0.5s;
}
.hero-text .social i:hover{
    color: #ff8906;
}

/* mediaquaries */
@media(max-width:930px){
    nav .togglebtn{
        display: initial;
    }
    .click{
        top: 45px;
    }
    .click span{
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child{
        transform: (-40deg);
    }
    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }
    .click span:last-child{
        transform: rotate(45deg);
        top: 0;
    }
    nav .navlinks{
        position: absolute;
        top: 120px;
        right: 0;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #0f0e17;
        z-index: 3;
    }
    nav .navlinks li{
        display: block;
    }
    nav .navlinks li a{
        display: block;
        margin-bottom: 16px;
        text-align: center;
    }
    nav .navlinks.open{
        right: 0;
    }
}
@media(max-width:768px)
{
 .container{
    flex-direction: column;
    padding-top: 1.5rem;
 }
 .hero-text
 padding: 40px 0px;
}
