/* general styles for cv */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
}

p{
    color: gray;
}
/* smooth animation for btn */
a, .btn{
    transition: all 300ms ease;
}

/* nav */

nav, .nav-links{
    display: flex;
}
nav{
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}
a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}
a:hover{
    color: rgb(28, 135, 135);
    text-decoration: underline;
}