*{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;

}

html {
    background: url(/week2/day2/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }
  body{
    margin: auto;
    max-width: 1200px;
  }
 
  h1{
    font-size: 3rem;
    text-align: center;
  }
  .infocards-container{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  
  .card-content{
    margin: 24px;
    text-align: center;
  }
  h2{
    font-size: 40px;
    color: rgb(82, 81, 174);
  }
  p{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 12px;
    color: rgb(128, 128, 128);
  }
  .infocards-container2{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  .card-contentcolor{
    max-width: 300px;
    height: 300px;
    background: linear-gradient(
        to bottom,
        white 70%,
        blue 30%
    );
  }
  .text{
    text-transform: none;
    font-weight: 500;
    margin: 16px;
  }